VITE_REMNAWAVE_PANEL_URL=https://panel.vkarmani.com
VITE_REMNAWAVE_SUBSCRIPTION_URL=https://sub.vkarmani.com
VITE_ALLOW_DEMO_FALLBACK=false
VKARMANI_XRAY_PATH=

VITE_TAURI_UPDATER_ENDPOINT=
VITE_TAURI_UPDATER_PUBKEY=
